header{
    width: 100%;
    height: 300px;
    background-color: gray;
    margin-bottom: 20px;
}
h1{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow
}

.simbolo{
    width: 195px;
    height: 188px;
    position: absolute;
    margin-top: 46px;
    margin-left: 3px;
    border: 3px;

}
.corrida{
    width: 300px;
    height: 300px;
}
.quadrado{
    width: 200px;
    height: 190px;
    margin: 5px;
    float: left;
    margin-left: 1%;
    border: 0%;
    border-style: solid;
    border: color black;
    background-color: darkgray;
}
footer{
    width: 100%;
    height: 200px;
    background-color: gray;
    border: 0%;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
}
h2{
    color: yellow;
    font-size: 30px;
}
p{
    color: black;
}
img{
    width: 100px;
    height: 150px;
    top: 5px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
article {
    width: 75%;
    height: 1000px;
    position: relative;
    border: 0px;
    border-color: black;
    border-style: solid;
}
#primeiro{
    width: 900px;
    height: 450px;
    border: 6px;
    border-style: solid;
    position: absolute;
    margin-left: 20px;
    position: relative;
    background-color: darkgray;
}
#segundo{
    height: 450px;
    width: 450px;
    float: left;
    margin-left: 5px;
    position: relative;
    margin-top: 40px;
    border: 6px;
    border-style: solid;
    background-color: darkgrey;
}
#terceiro{
    height: 450px;
    width: 450px;
    margin-left: 480px;
    margin-top: 40px;
    position: relative;
    border: 6px;
    border-style: solid;
    background-color: darkgrey;
}
h4{
    text-align: center;
    background-color: grey;
    height: 45px;
}
h5{
    text-align: center;
    background-color: grey;
    height: 45px;
}
h6{
    text-align: center;
    background-color: grey;
    height: 45px;
}
#real{
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}
#textos{
    font-family: cursive;
    margin-top: 150px;
    width: 850px;
    margin-left: 50px;
}
#texto{
    font-family: cursive;
    margin-top: 60px;
}
#regras{
    width: 400px;
    margin-left: 25px;
    margin-top: 100px;
}
#textão{
    width: 350px;
    margin-left: 25px;
    margin-top: 100px;
}
aside{
    width: 20%;
    height: 1000px;
    border: 6px;
    border-style: solid;
    float: right;
    background-color: darkgray;
}
#pista{
    width: 100%;
    height: 1000px;
}
